@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
	padding: 0%;
	margin: 0%;
	font-family: 'Poppins', sans-serif;
}
.container{
	display:grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 0.2fr 1fr 1fr 1fr 0.1fr 0.2fr ;
	grid-template-areas: 
		"nav header"
		"nav recente"
		"nav artista1"
		"nav artista2"
		"nav footer"
		"nav player";
	grid-gap: 0.2rem;
}
nav{
	background-color: #a7ffeb;
	grid-area: nav;
}
header{
	background-color: #84ffff;
	grid-area: header;
	position: sticky; /*places the bar in a fixed position within the grid*/
	top: 0; /*necessary for sticky to work*/
}
#recente{
	background-color: #18ffff;
	grid-area: recente;
}
#artista1{
	background-color: #6fffd2;
	grid-area: artista1;
}
#artista2{
	background-color: #64ffda;
	grid-area: artista2;
}
#player{
	background-color: #73ffba;
	grid-area: player;
	position: sticky; /*places the bar in a fixed position within the grid*/
	bottom: 0px; /*necessary for sticky to work*/
}
footer{
	background-color: #1de9b6;
	grid-area: footer;
	text-align: center;
}

 /*----- Edits for the itens inside the artist sections -----*/
.nested{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.nested figure{
	padding: 20px;
	text-align: center;
}
img{
	width: 150px;
}
figcaption{
	font-size: 0.75rem;
}

 /*----- Edits for the itens inside the header -----*/
h1{
	display: none;
}

 /*----- Edits for the responsivity -----*/
@media only screen and (max-width:550px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.2fr 0.2fr;
		grid-template-areas:
		"header"
		"recente"
		"artista1"
		"artista2"
		"footer"
		"player"
		"nav"
	}
	nav{
		justify-content: center;
		display: flex;
		position: fixed;
		bottom: 0;
		width: 100vh;
		height: 50px;
	}
	h1{
		display: block;
	}
	#backnforth{
		display: none;
	}
	#colecoes{
		display: none;
	}
	.logo {
    	display: none;
	}
	#player{
		bottom: 50px;
	}
}